<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicService</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav>
        <a asp-page="/Index">Home</a>
        <form action="/Search">
            <input type="search" id="searchinput" name="searchinput" placeholder="Search song here">
            <input type="submit">
        </form>
    </nav>

    <main>
        @RenderBody()
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
