@page
@model MusicService.Pages.Admin.Song.EditModel

@{
    ViewData["Title"] = "Edit";
}
<div class="bg-gradient-to-tr from-purple-500 to-pink-500 h-full flex justify-center items-center">
<div class="bg-emerald-300 p-8 text-2xl rounded-md">
<h1>Edit Song</h1>

<div class="text-blue-600">
    <div >
        <form method="post" enctype="multipart/form-data" class="flex flex-col gap-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Song.ID" />
            <div class="form-group">
                <label asp-for="Song.Name" class="control-label"></label>
                <input asp-for="Song.Name" class="" />
                <span asp-validation-for="Song.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MusicFile" class="control-label"></label>
                <input asp-for="MusicFile" class="" />
                <span asp-validation-for="MusicFile" class="text-danger"></span>
            </div>
            <div class="">
                <label asp-for="Artist" class="control-label"></label>
                <input asp-for="Artist" class="rounded-md" />
                <span asp-validation-for="Artist" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="rounded-full px-2 bg-blue-200" />
            </div>
        </form>
    </div>
</div>
</div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
