@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="text-3xl">Welcome</h1>

    <h2>New Music</h2>
    <div>
@foreach (var song in Model.NewSongs)
{
        <div class="p-4 cursor-pointer" onclick="window.location.href='/Song?id=@song.ID';">
            <h3>@song.Name</h3>
            <p>@String.Join(",", song.Artists)</p>
        </div>
}
    </div>
</div>
